label{
    display: block;
    margin-top: 1em;
    margin-bottom: .5em;
}

fieldset{
    border-radius: 3px;
    border-color: rgb(255, 0, 0);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
button{
    display: block;
    margin-top: 1em;
}

td, th{
    text-align: center;
    border: solid 2px red;
    padding: 5px;
    
}

th{
    text-align: center;
    border: solid 2px red; 
    padding: 5px;
     
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}